{% extends 'templates/app.twig' %}


{% block content %}
  <form action="{{ path_for('order.create') }}" method="post">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">

            <h3>Your detalis</h3>
            <hr>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="name">Full mail</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>

          </div>
          <div class="col-md-6">

            <h3>Shipping adress</h3>
            <hr>

            <div class="form-group">
              <label for="address1">Address line 1</label>
              <input type="text" name="address1" id="address1" class="form-control">
            </div>

            <div class="form-group">
              <label for="address2">Address line 2</label>
              <input type="text" name="address2" id="address2" class="form-control">
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" name="city" id="city" class="form-control">
            </div>

            <div class="form-group">
              <label for="postal_code">Postal code</label>
              <input type="text" name="postal_code" id="postal_code" class="form-control">
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-4">
        <br><br>
        <div class="card">

          <h4>Your order</h4>
          <hr>
          {% include 'cart/partials/contents.twig' %}
          {% include 'cart/partials/summary.twig' %}

          <input class="btn btn-primary" type="submit" value="Place order">
        </div>
      </div>
    </div>
  </form>
{% endblock %}
